/**
 * Layout / grid
 */

.main {
	height: 100%;
	overflow-y: scroll;
	padding-bottom: 103px;
	padding-left: 210px;
	padding-top: 20px;
	position: fixed;
	top: 0;
	width: 100%;

	@include media-breakpoint-down(sm) {
		padding-left: 0;
	}

	.action-bar {
		background: $bg-secondary;
		bottom: 0;
		height: 63px;
		line-height: 63px;
		position: fixed;
		width: 100%;

		.btn {
			margin-right: 10px;
		}
	}
}